@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  /* background-color: lightcoral; */
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
}

main {
  display: flex;
  justify-content: center;
  /* border: 10px red solid; */
}

.display-photos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  max-width: 1200px;
  
}

main div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  
}

.card-info {
  display: block;
  line-height: 15px;
  
}

div p {
  display: flex;
  justify-content: center;
  
}


